@import '../js/lib/bootstrap/less/bootstrap';
@import 'cube';
@bodyBackground: @black;
@textColor: @grayLighter;
@linkColor: @grayLight;

header {
  margin: 30px;
  position: relative;
  z-index: 100;
  max-width: 270px;
}

@media (max-width: 570px) {
  header {
    margin: 15px;
    max-width: 160px;
  }
  #cubes {
    transform: translate3d(0, 0, -500px) rotateY(45deg);
  }
}
