@import '../js/lib/bootstrap/less/bootstrap';

@bodyBackground: @black;
@textColor: @grayLighter;

* {
  .box-sizing(border-box);
}

header {
  z-index: 100;
  position: relative;
}

@import 'debug';
@import 'cube';
